<%if @book.errors.full_messages[0]!=nil%>
  <ul>
    <% @book.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
    <% end %>
  </ul>
<%end%>
<div class="container pt-3 jumbotron col-md-3">
  <h2 class="text-center">Create New Book</h2>
  <%= render 'form'%>
</div>
